.main-container{
  width: 350px;
  height: 100px;
  padding: 3px;
  border: 1px solid black;
  background-color: snow;
}

.p-msg{
  font-weight: 600;
}

.p-msg-small{
  width: 100px;
  font-weight: 500;
}
.msg-warn{
  border: 2px solid orangered;
  background-color: #ff4500d1;
}

.msg-ok{
  border: 2px solid green;
  background-color: lightgreen;
}