<h2>Local References</h2>

<div class="main-container">

<!-- 

  Foram criadas variaveis locais (#nomeVariaveis) que
  que referenciam elementos do template e estão sendo 
  usadas para passar por parâmetro referencias a esses
  elementos para o componente ao qual esse template 
  pertence, pemitindo alterar o DOM do template
  programaticamente no componente.
 -->
  <p class="p-msg-small" #msgElement>{{msg}}</p>

  <br/>

  Texto: <input type="text" #inputTexto>
  <input type="button" value="Change" (click)="execute(inputTexto, msgElement)">
  <input type="button" value="Warning" (click)="changeToWarning(msgElement)">

</div>

<br/>
<hr/>

<app-view-child></app-view-child>