<h2>Diretivas</h2>

<div class="container-table">

  <div class="text-container container-cell">
    <h3>Diretivas estruturais</h3>
    <p>
      Diretivas estruturais atuam diretamente sobre a estrutura da página HTML, ou seja,
      manipulam o DOM diretamente. Dependendo dos dados e validações a estrutura da página
      pode ser modificada.
    </p>
  </div>

  <div class="text-container container-cell">
    <h3>Diretivas de atributo</h3>
    <p>
      Diretivas de atributo alteram a aparência, comportamento ou conteúdo dos elementos 
      que compõem o documento HTML. Aquilo que não modifica a estrutura do HTML mas
      modifica os seus elementos pode ser considerado uma diretiva de atributo. 
    </p>
  </div>


</div>

<hr/>

<app-estruturais>

  <p id="p-text">{{text}}</p>

</app-estruturais>

<hr/>

<app-atributos></app-atributos>