<h2>Diretivas Customizadas</h2>

<div class="container-table">

  <div class="container-row">
    <app-custom-directive></app-custom-directive>
  </div>

  <hr>

  <div class="container-row">
    <app-host-listener-binding></app-host-listener-binding>
  </div>

  <hr>

  <div class="container-row">
    <app-input-property-binding></app-input-property-binding>
  </div>

  <hr>

  <div class="container-row">
    <app-custom-directive-estructure-ng-else></app-custom-directive-estructure-ng-else>
  </div>

</div>