<div class="container-table">

  <div class="container-cell">
    <div class="container-row">
      <app-pipe-async></app-pipe-async>
    </div>

    <div class="container-row">
      <app-primeiro-pipe></app-primeiro-pipe>  
    </div>
  </div>

  <div class="container-cell">
    <div class="container-table">
      
      <div class="container-row">
        <app-pipe-puro></app-pipe-puro>    
      </div>
    
      <hr>
      
      <div class="container-row">
        <app-pipe-impuro></app-pipe-impuro>
      </div>
    
      <div class="container-row">
        <app-usando-filtros-corretamente>

        </app-usando-filtros-corretamente>
      </div>

    </div>
  </div>

</div>