<h3 class="container-row">Exemplo Diretivas de Atributo</h3>

<div class="container-table">

  <div class="container-cell">
    <div class="container-table">
    
      <h3 class="container-row">*NgStyle</h3>
    
      <div class="contain container-cell" [ngStyle]="{'background-color':'snow'}"> 
        <span [ngStyle]="{color:'green'}">Verde</span><br/>    
        <span [ngStyle]="{color:'yellow'}">Amarelo</span><br/>
        <span [ngStyle]="{color:'blue'}">Azul</span><br/>
      </div>

    </div>  
  </div>


  <div class="container-cell">
    <div class="container-table">
    
      <h3 class="container-row">*NgClass</h3>
    
      <div class="contain container-cell"> 
    
        <span [ngClass]="{verde: verde}">Verde: {{verde}}</span><br/>    
        <span [ngClass]="{amarelo: amarelo}">Amarelo: {{amarelo}}</span><br/>
        <span [ngClass]="{azul: azul}">Azul: {{azul}}</span><br/> 

        <br>
        <input type="button" value="Change" (click)="changeColor()">

      </div>

    </div>  
  </div>

</div>