<div class="container-table">

  <div>
    <app-cursos></app-cursos>
  </div>

  <hr>
  
  <div>
    <app-criar-curso></app-criar-curso>
  </div>

  <hr>
  
  <div>
    <app-recebe-curso-criado></app-recebe-curso-criado>    
  </div>


</div>