<h4>Pipes @angular/common</h4>

<div class="square">
  <p class="text-container">
    Os pipes @angular/common são importados automaticamente
    em BrowserModule. Modulo que é importato automanticamente
    em AppModule. 
  </p>
</div>

<p>Title: {{book.title | uppercase | lowercase | camelCase}}</p>
<p>Rating: {{book.rating | number:'1.1-3'}}</p>
<p>Pages: {{book.pagesQtd}}</p>
<p>Price: {{book.price | currency:'BRL'}}</p>
<!-- Aninhando pipes [date:'dd/MMM/yyyy' | lowercase]-->
<p>Release: {{book.release | date}}</p>
<p>URI: {{book.url}}</p>

<br>

<p class="text-container">Boook: {{book | json }}</p>