<h2>Data-Binding Container</h2>

<hr/>
<app-interpolation></app-interpolation>

<hr/>
<app-prop-binding></app-prop-binding>

<hr/>
<app-two-way></app-two-way>

<hr/>
<app-event-binding></app-event-binding>

<hr/>


<h4>@Input properties</h4>
<b>Modificando valor no PAI: </b>
<input type="text" id="text-input" [(ngModel)]="textMain">
<p><b>Variavel componente PAI:</b> {{textMain}}</p>

<!-- 

Alterando propriedade no componente filho através 
de propert-binding. 
Exemplo: [text] = 'textMain'.

Onde:
    1 - [text] é a váriavel do compontenente filho
        que esta sendo acessada via propert-binding. 
    
    2 - 'textMain' é a váriavel do componente pai que está
        tendo seu valor atrbuído à váriavel do componente
        filho.

OBS: Se o valor passado para o component filho, for um 
valor fixo hard-coded - isso é, não for uma váriavel -
não é necessário utilizar propert-binding. 
Exemplo: text = '16'

-->
<app-input-properties [text] = 'textMain'>
    {{textMain}}
</app-input-properties>




<h4>@Output properties</h4>

<!-- 

O seletor referencia o objeto do tipo EventEmitter que contém a 
anotação @Output - "emitValue" - através de um event-bindig, 
event que é atrelado a um método do component pai que receberá o
o valor emitido pelo EventEmitter do filho pelo parâmetro $event.  

 -->

<p><b>Variavel componente PAI: </b>{{textMainByChild}}</p>
<app-output-properties  (emitValue)="receiveValuefromChild($event)">
</app-output-properties>