<h4>Pipe Impuro</h4>

Filtro: <input type="text" [(ngModel)]="filtro">

<br>

ADD: <input type="text" #novoValor>
<button (click)="addLivro(novoValor.value)">
  Add
</button>

<ul>
  <li *ngFor="let book of books | filtroArrayImpuro:filtro">
    {{book}}
  </li>
</ul>