.container-table{
  background-color: lightgray;
  padding: 5px;
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
}

.container-row{
  display: table-row;
}

.container-cell{
  display: table-cell;
}


div.contain{
  background-color: snow;
  border: 1px solid black;
  padding: 5px;
  height: 115px;
  width: 115px;
  margin: 0px 3px;
}

.square{
  border-bottom-right-radius: 10px;
}

.text-container{
  height: 80px;
  width: 450px;
  background-color: lightcyan;
  padding: 5px;
  border: 1px solid black;
}

div p{
  color: black;
  font-weight: 500;    
}

body{
  font-family: Arial, Helvetica, sans-serif;
}