<h2>@ViewChild</h2>

<p class="p-msg msg-warn">
  O estilo desse componente é afetado pelo ViewEncapsulation.None
  presente no componente-pai e também é sobrescrito pelo seu
  próprio CSS.
</p>

<div class="main-container">


  <!-- 

    #msgElement: variavel local criada no formulário
    que faz referência a um elemento HTML. Nesse caso,
    ao elemento <p>. O componente usará o nome dessa
    variavel para se ligar ao elemento que ela referencia. 
   -->
  <p class="p-msg-small" #msgElement>{{msg}}</p>

  <br/>

  Texto: <input type="text" #inputTexto>

  <input type="button" value="Change" (click)="execute()">
  <input type="button" value="Warning" (click)="changeToWarning()">

</div>