<h3 class="container-row">Exemplo Diretivas Estruturais</h3>

<div class="container-table">

  <div class="container-cell">

    <h3 class="container-row">*Ngif</h3>
  
    <div class="contain container-cell">
      <p class="label">Atributo: <span>{{mostrar}}</span></p>
      <div *ngIf="mostrar">
        <p>Atributo</p>
      </div>
      <input type="button" value="Change" (click)="changeValue()">
    </div>
  
    <div class="contain container-cell">
      <p class="label">Método return</p>
      <div *ngIf="changeValueMethod()">
        <p>Retorno do método</p>
      </div>
    </div>
  
    <div class="contain container-cell">
      <p class="label">Operação: {{a}}>{{b}}</p>
      <div *ngIf="a > b">
        <p>Expressão condicional</p>
      </div>
    </div>
      
    <div class="contain container-cell">
      <p class="label">Valor fixo</p>
      <div *ngIf="true">
        <p>true</p>
      </div>
    </div>

  </div>

  <div class="container-cell">
    <div class="container-table">
    
      <h3 class="container-row">*NgSwitch</h3>
    
      <div class="contain container-cell">
    
        <div [ngSwitch]="valor">
          <div *ngSwitchCase="1">O valor é {{valor}}</div>
          <div *ngSwitchCase="2">O valor é {{valor}}</div>
          <div *ngSwitchCase="3">O valor é {{valor}}</div>
          <div *ngSwitchCase="4">O valor é {{valor}}</div>
          <div *ngSwitchDefault>Valor não reconhecido</div>
        </div>
    
        <br>
        <input type="button" value="Increment" (click)="incrementValue()">

      </div>

    </div>  
  </div>    
  
  <div class="container-cell">
    
    <div class="container-table">
      
      <h3 class="container-row">*NgFor</h3>
      
      <div class="contain container-cell" id="contain-for">

        <p class="label">
          Itens: 
          <span>
            {{items.length}} - [{{items.toString()}}]
          </span>
        </p>

        <div class="deitar">
          <ul *ngFor="let item of items">
            <li>{{item}}</li>
          </ul>
        </div>

        <br/>

        <input type="button" value="Add" (click)="add()">
        <input type="button" value="Remove" (click)="remove()">
        
      </div>

    </div>

  </div>

  <div class="container-cell">
    
    <div class="container-table">
      
      <h3 class="container-row">*NgContent</h3>
      
      <div class="contain container-cell" id="contain-for">

        <ng-content></ng-content>
        
      </div>

    </div>

  </div>

</div>