div p.label{
  color: black;
  font-weight: bold;    
}

p span{
  font-weight: 400;
}

ul{
  display: table-cell;
}

.deitar{
  margin: 2px 0px;
  display: inline;
}

#contain-for{
  width: auto;
  min-width: 115px;
  max-width: 300px;
}