<h3> Diretiva de estrutura - *ngElse</h3>

<div *ngIf="mostrarCursos">
  Lista de cursos.
</div>


<div *ngElse="mostrarCursos">
  Não existem cursos.
</div>

<button (click)="onMostrarCursos()">
  Show/Hide
</button>